<html>
	<head>
		<script src="htmx.min.js"></script>
		<title>Joystick</title>
	</head>
	<body>
		<h1>Joystick</h1>
		<button hx-trigger="click, keyup[key=='ArrowUp'] from:body"
				hx-swap="none" hx-put="/move-forward">Move forward</button>
		<button hx-trigger="click, keyup[key=='ArrowDown'] from:body"
				hx-swap="none" hx-put="/move-backward">Move backward</button>
		<br>
		<button hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
		        hx-swap="none" hx-put="/move-left">Move left</button>
		<button hx-trigger="click, keyup[key=='ArrowRight'] from:body"
		        hx-swap="none" hx-put="/move-right">Move right</button>
	</body>
</html>
