<html>
	<head>
		<script src="htmx.min.js"></script>
		<title>Joystick</title>
	</head>
	<body>
		<h1>Joystick</h1>
		<button hx-trigger="click, keydown[key=='ArrowUp'] from:body"
			hx-swap="outerHTML" hx-put="/move-forward">Move forward</button>
		<button hx-trigger="click, keydown[key=='ArrowDown'] from:body"
			hx-swap="outerHTML" hx-put="/move-backward">Move backward</button>
		<br>
		<button hx-trigger="click, keydown[key=='ArrowLeft'] from:body"
			hx-swap="outerHTML" hx-put="/move-left">Move left</button>
		<button hx-trigger="click, keydown[key=='ArrowRight'] from:body"
			hx-swap="outerHTML" hx-put="/move-right">Move right</button>
		<a href="/automate">
			<button>Automate</button>
		</a>
		<br/>
		<img src="/video_feed">
	</body>
</html>
